.home {
  display: flex;
  justify-content: center;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}
.homeImage {
  width: 100%;
  z-index: -1; /*moves the image behind everything else*/
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  margin-bottom: -100px;
}

.homeRow {
  display: flex;
  z-index: 1;
  margin-right: 5px;
  margin-left: 5px;
}
